<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- Modal for evaluating inputs to view the rule applicable to them -->
        <!-- Ref for Ajax : https://stackoverflow.com/questions/45105226/how-to-pass-bootstrap-modal-form-data-to-spring-boot-controller -->
        <div th:fragment="live-eval-modal">
            <div class="modal"
                 id="liveEvalModal"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="liveEvalModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="liveEvalModalLabel">Enter values to see applicable rule</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col">
                                        <form id="liveEvalForm"
                                              action="#" th:object="${ruleDto}"
                                              th:action="@{/ui/eval/{ruleSystemName}(ruleSystemName = ${ruleSystem.ruleSystemName})}"
                                              method="post">
                                            <div class="row">
                                                <th:block th:each="colName : ${ruleSystem.inputColumnList}">
                                                    <div class="form-group col">
                                                        <label th:text="${colName.name}"
                                                               th:for="${colName.name}"
                                                               class="col-form-label"></label>
                                                    </div>
                                                </th:block>
                                                <div class="col">
                                                    &nbsp;
                                                </div>
                                            </div>
                                            <div class="row">
                                                <th:block th:each="col : ${ruleSystem.inputColumnList}">
                                                    <div class="form-group col">
                                                        <input type="text"
                                                               th:field="*{ruleInputs['__${col.name}__']}"
                                                               th:value="*{ruleInputs['__${col.name}__']}"
                                                               class="form-control"
                                                               th:id="*{ruleInputs['__${col.name}__']}" />
                                                    </div>
                                                </th:block>

                                                <div class="col">
                                                    <input type="submit" class="btn btn-success" value="Get Applicable Rule">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--<table class="table table-striped table-responsive-md table-bordered table-hover table-sm">-->
                                <!--<thead class="thead-dark">-->
                                <!--<tr>-->
                                    <!--<th class="text-center">Property</th>-->
                                    <!--<th class="text-center">Value</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td class="text-center">Name</td>-->
                                    <!--<td class="text-center" th:text="${column.name}"></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="text-center">Priority</td>-->
                                    <!--<td class="text-center" th:text="${column.priority}"></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="text-center">Input Type</td>-->
                                    <!--<td class="text-center" th:text="${column.ruleInputType}"></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="text-center">Data Type</td>-->
                                    <!--<td class="text-center" th:text="${column.dataType}"></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="text-center">Range Lower Bound Field Name</td>-->
                                    <!--<td class="text-center" th:text="${column.rangeLowerBoundFieldName}"></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="text-center">Range Upper Bound Field Name</td>-->
                                    <!--<td class="text-center" th:text="${column.rangeUpperBoundFieldName}"></td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

