<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Employee</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>

    <body>
        <div th:insert="~{includes/header :: header}"/>
        <div class="container my-5">

            <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

            <h4 th:text="@{Adding rule to rule system : {ruleSystemName}(ruleSystemName = ${ruleSystem.ruleSystemName})}"></h4>
            <div class="card">
                <div class="card-body">
                    <div class="col">
                        <form action="#" th:object="${ruleDto}"
                              th:action="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule/add
                                (providerName = ${ruleSystem.providerName}, ruleSystemName = ${ruleSystem.ruleSystemName})}"
                              method="post">
                            <div class="row">
                                <th:block th:each="colName : ${ruleSystem.inputColumnList}">
                                    <div class="form-group col">
                                        <label th:text="${colName.name}"
                                               th:for="${colName.name}"
                                               class="col-form-label"></label>
                                    </div>
                                </th:block>
                                <div class="form-group col">
                                    <label th:text="${ruleSystem.uniqueOutputColumnName}"
                                           th:for="${ruleSystem.uniqueOutputColumnName}"
                                           class="col-form-label"></label>
                                </div>
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <th:block th:each="col : ${ruleSystem.inputColumnList}">
                                    <div class="form-group col">
                                        <input type="text"
                                               th:field="*{ruleInputs['__${col.name}__']}"
                                               th:value="*{ruleInputs['__${col.name}__']}"
                                               class="form-control"
                                               th:id="*{ruleInputs['__${col.name}__']}" />
                                    </div>
                                </th:block>
                                <div class="form-group col">
                                    <input type="text"
                                           th:field="*{ruleInputs['__${ruleSystem.uniqueOutputColumnName}__']}"
                                           th:value="*{ruleInputs['__${ruleSystem.uniqueOutputColumnName}__']}"
                                           class="form-control"
                                           th:id="${ruleSystem.uniqueOutputColumnName}" />
                                </div>

                                <div class="col">
                                    <input type="submit" class="btn btn-success" value="Add Rule">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{includes/footer :: footer}"/>
    </body>

</html>