<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Rulette Server</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    </head>
    <body>
        <div th:insert="~{includes/header :: header}"/>

        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

        <div class="container-fluid my-2">
            <div th:switch="${ruleSystemPage.data}">
                <div th:case="null">
                    <div class="float-left">
                        <b>List of Rule Systems</b>
                        |
                        <a href="/ui/rulesystem/show-add">Create new rule system</a>
                    </div>
                    <div class="float-right">
                        No records found!
                    </div>
                </div>
                <div th:case="*">
                    <div class="float-left">
                        <b>List of Rule Systems</b>
                        |
                        <a href="/ui/rulesystem/show-add">Create new rule system</a>
                    </div>
                    <div class="float-right">
                        <span>
                            <a th:href="@{/ui?pageNum={pageNum}&pageSize=50(pageNum=${ruleSystemPage.pageNum - 1})}">
                                &lt;&lt; Prev
                            </a>
                        </span>
                        |
                        <span th:text="'Showing page ' + ${ruleSystemPage.pageNum} + ' of ' +  ${1 + (ruleSystemPage.totalRecordCount / ruleSystemPage.pageSize)}"/>
                        |
                        <span>
                            <a th:href="@{/ui?pageNum={pageNum}&pageSize=50(pageNum=${ruleSystemPage.pageNum + 1})}">
                                Next &gt;&gt;
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div th:switch="${ruleSystemPage.data}" class="container-fluid my-2">
            <h2 th:case="null"></h2>

            <div th:case="*">
                <table class="table table-striped table-responsive-md table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Provider Name</th>
                        <th class="text-center">Table Name</th>
                        <th class="text-center">Unique Id Column</th>
                        <th class="text-center">Rule Inputs</th>
                        <th class="text-center">Output Column</th>
                        <th class="text-center">View Rules</th>
                        <th class="text-center">Reload</th>
                        <th class="text-center">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ruleSystem : ${ruleSystemPage.data}">
                        <td class="text-center" th:text="${ruleSystem.ruleSystemName}"></td>
                        <td class="text-center" th:text="${ruleSystem.providerName}"></td>
                        <td class="text-center" th:text="${ruleSystem.tableName}"></td>
                        <td class="text-center" th:text="${ruleSystem.uniqueIdColumnName}"></td>
                        <td class="text-center">
                            <span th:each="column : ${ruleSystem.inputColumnList}">
                                <a href="#"
                                   th:onclick="$('#ruleInputModal-' + [[${ruleSystem.providerName}]] + [[${ruleSystem.ruleSystemName}]]  + [[${column.name}]]).modal('toggle');">
                                    <span th:text="${column.name}"></span>
                                </a>
                                <!-- Modal for showing rule input column details -->
                                <div th:replace="modal/rule-input-modal :: rule-input-modal"></div>
                            </span>
                            <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/ruleinput/show-add
                                    (providerName = ${ruleSystem.providerName}, ruleSystemName=${ruleSystem.ruleSystemName})}"
                               class="btn btn-primary btn-sm">
                                <i class="fas fa-plus">Add new</i>
                            </a>
                        </td>
                        <td class="text-center" th:text="${ruleSystem.uniqueOutputColumnName}"></td>
                        <td class="text-center">
                            <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule
                                (providerName = ${ruleSystem.providerName}, ruleSystemName = ${ruleSystem.ruleSystemName})}">
                                View Rules
                            </a>
                        </td>
                        <td align="center">
                            <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/reload
                                (providerName = ${ruleSystem.providerName}, ruleSystemName = ${ruleSystem.ruleSystemName})}"
                               class="btn btn-primary btn-sm">
                                <i class="fas fa-redo ml-2"></i>
                            </a>
                        </td>
                        <td align="center">
                            <a th:onclick="alert('Cannot delete rule systems in the demo instance. Trust us, we blocked it because it works :)')"
                               class="btn btn-danger btn-sm">
                                <i class="fas fa-user-times ml-2"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="float-right">
                    <span>
                        <a th:href="@{/ui?pageNum={pageNum}&pageSize=50(pageNum=${ruleSystemPage.pageNum - 1})}">
                            &lt;&lt; Prev
                        </a>
                    </span>
                    |
                    <span th:text="'Showing page ' + ${ruleSystemPage.pageNum} + ' of ' +  ${1 + (ruleSystemPage.totalRecordCount / ruleSystemPage.pageSize)}"/>
                    |
                    <span>
                        <a th:href="@{/ui?pageNum={pageNum}&pageSize=50(pageNum=${ruleSystemPage.pageNum + 1})}">
                            Next &gt;&gt;
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div th:insert="~{includes/footer :: footer}"/>
    </body>
</html>

