<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Rulette Server</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    </head>
    <body>
        <div th:insert="~{includes/header :: header}"/>

        <div class="card">
            <div class="card-body">
                <div class="col">
                    <form action="#" th:object="${ruleId}"
                          th:action="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule
                              (providerName = ${ruleSystem.providerName}, ruleSystemName = ${ruleSystem.ruleSystemName})}">
                        <div class="row">
                            <div class="form-group col">
                                <label for="ruleId" class="col-form-label">Rule Id</label>
                                <input type="text" id="ruleId" name="ruleId"/>
                                <input type="submit" class="btn btn-success" value="Search">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

        <div class="container-fluid my-2">
            <div th:switch="${rulePage.data}">
                <div th:case="null">
                    <div class="float-left">
                        <b th:text="${ruleSystem.ruleSystemName}"></b>
                        |
                        <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule/evaluate
                            (providerName = ${ruleSystem.providerName}, ruleSystemName = ${ruleSystem.ruleSystemName})}">Evaluate Inputs</a>
                    </div>
                    <div class="float-right">
                        No records found!
                    </div>
                </div>
                <div th:case="*">
                    <div class="float-left">
                        <b th:text="${ruleSystem.ruleSystemName}"></b>
                        |
                        <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule/evaluate
                            (providerName = ${ruleSystem.providerName}, ruleSystemName = ${ruleSystem.ruleSystemName})}">Evaluate Inputs</a>
                    </div>
                    <div class="float-right">
                        <span>
                            <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule?pageNum={pageNum}&pageSize=50
                                (providerName = ${ruleSystem.providerName}, ruleSystemName = ${ruleSystem.ruleSystemName}, pageNum=${rulePage.pageNum - 1})}">
                                &lt;&lt; Prev
                            </a>
                        </span>
                        |
                        <span th:text="'Showing page ' + ${rulePage.pageNum} + ' of ' +  ${1 + (rulePage.totalRecordCount / rulePage.pageSize)}"/>
                        |
                        <span>
                            <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule?pageNum={pageNum}&pageSize=50
                                (providerName = ${ruleSystem.providerName}, ruleSystemName = ${ruleSystem.ruleSystemName}, pageNum=${rulePage.pageNum + 1})}">
                                Next &gt;&gt;
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div th:switch="${rulePage.data}" class="container-fluid my-2">
            <h2 th:case="null"></h2>

            <div th:case="*">
                <table class="table table-striped table-responsive-md table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center" th:text="${ruleSystem.uniqueIdColumnName}"></th>
                            <th:block th:each="column : ${ruleSystem.inputColumnList}">
                                <th class="text-center" th:text="${column.name}"></th>
                            </th:block>
                            <th class="text-center" th:text="${ruleSystem.uniqueOutputColumnName}"></th>
                            <th class="text-center">Edit Rule</th>
                            <th class="text-center">Delete Rule</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rule : ${rulePage.data}">
                        <td class="text-center" th:text="${rule.getColumnData(ruleSystem.uniqueIdColumnName).rawValue}"></td>
                        <td:block th:each="colName : ${ruleSystem.inputColumnList}">
                            <td class="text-center" th:text="${rule.getColumnData(colName.name).rawValue}"></td>
                        </td:block>
                        <td class="text-center" th:text="${rule.getColumnData(ruleSystem.uniqueOutputColumnName).rawValue}"></td>
                        <td align="center">
                            <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule/{ruleId}/show-edit
                                    (providerName = ${ruleSystem.providerName}, ruleSystemName=${ruleSystem.ruleSystemName}, ruleId=${rule.id})}"
                               class="btn btn-primary btn-sm">
                                <i class="fas fa-user-edit ml-2"></i>
                            </a>
                        </td>
                        <td align="center">
                            <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule/{ruleId}/delete
                                    (providerName = ${ruleSystem.providerName}, ruleSystemName=${ruleSystem.ruleSystemName}, ruleId=${rule.id})}"
                               class="btn btn-danger btn-sm">
                                <i class="fas fa-user-times ml-2"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="float-right">
                        <span>
                            <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule?pageNum={pageNum}&pageSize=50
                                (providerName = ${ruleSystem.providerName}, ruleSystemName = ${ruleSystem.ruleSystemName}, pageNum=${rulePage.pageNum - 1})}">
                                &lt;&lt; Prev
                            </a>
                        </span>
                    |
                    <span th:text="'Showing page ' + ${rulePage.pageNum} + ' of ' +  ${1 + (rulePage.totalRecordCount / rulePage.pageSize)}"/>
                    |
                    <span>
                        <a th:href="@{/ui/provider/{providerName}/rulesystem/{ruleSystemName}/rule?pageNum={pageNum}&pageSize=50
                            (providerName = ${ruleSystem.providerName}, ruleSystemName = ${ruleSystem.ruleSystemName}, pageNum=${rulePage.pageNum + 1})}">
                            Next &gt;&gt;
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div th:insert="~{includes/footer :: footer}"/>
    </body>
</html>
